/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;
  --main-transition: 0.5s;
  /*========== Colors ==========*/
  --main-color:hsl(207, 81%, 48%);
  --hue: 207;
  --sat: 90%;
  --first-color: hsl(var(--hue), var(--sat), 54%);
  --first-color-light: hsl(var(--hue), var(--sat), 85%);
  --first-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --first-color-alt: hsl(var(--hue), var(--sat), 48%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue), 4%, 85%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 75%);
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;
  /*========== Margins ==========*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color-light: hsl(var(--hue), var(--sat), 75%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 80%);
  --body-color: hsl(var(--hue), 8%, 13%);
  --container-color: hsl(var(--hue), 8%, 16%);
  --scroll-bar-color: hsl(var(--hue), 4%, 32%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 24%);
}

/*========== Button Dark/Light ==========*/
.change-theme {
  position: absolute;
  right: 1.5rem;
  top: 2.2rem;
  color: var(--title-color);
  font-size: 1.8rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (width > 768px) {
  .change-theme {
    position: initial;
  }
}

.dark-theme .footer {
  background-color: var(--container-color);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 6rem 0 2rem;
}
.section__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: left;
  margin-bottom: var(--mb-1);
}

.svg__color {
  fill: var(--first-color);
}
.svg__blob {
  fill: var(--first-color-light);
}
.svg__img {
  -ms-grid-column-align: center;
      justify-self: center;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  background-color: var(--body-color);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
}

/*=============== NAV ===============*/
.nav {
  height: calc(var(--header-height) + 1.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 2rem;
}
@media (width <= 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
    left: 0;
    right: 0;
    width: 90%;
    border-radius: 2rem;
    padding: 2.5rem 0;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    background-color: var(--container-color);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    z-index: var(--z-fixed);
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}
@media (width <= 768px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.5rem;
  }
}
.nav__logo {
  font-size: var(--h2-font-size);
}
.nav__logo, .nav__link, .nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
.nav__toggle {
  font-size: 1.5rem;
}
.nav__link {
  position: relative;
}
.nav__link.active::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--title-color);
  position: absolute;
  bottom: -0.75rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.nav__toggle {
  cursor: pointer;
}
@media (width > 768px) {
  .nav__toggle {
    display: none;
  }
}

/* Show menu */
.show__menu {
  top: calc(var(--header-height) + 1rem);
}

/* Change background header */
.scroll-header {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/*=============== HOME ===============*/
.home__container {
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home__title {
  margin-bottom: var(--mb-0-75);
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
}
.home__description {
  margin-bottom: var(--mb-2);
  padding-right: 8rem;
}
@media (width <= 768px) {
  .home__data {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  font-weight: var(--font-semi-bold);
  padding: 0.75rem 1.5rem;
  border-radius: 3rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button:hover {
  background-color: var(--first-color-alt);
}
@media (width <= 1024px) {
  .button__header {
    display: none;
  }
}

/*=============== ABOUT ===============*/
.about__container {
  -ms-grid-columns: 1fr 6rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 6rem;
     -moz-column-gap: 6rem;
          column-gap: 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__data {
  text-align: left;
}
.about__description {
  margin-bottom: var(--mb-2);
}

/*=============== SECURITY ===============*/
.security__container {
  -ms-grid-columns: 1fr 6rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 6rem;
     -moz-column-gap: 6rem;
          column-gap: 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.security__data {
  text-align: left;
}
.security__description {
  margin-bottom: var(--mb-2);
}
@media (width <= 768px) {
  .security__data {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

/*=============== SERVICES ===============*/
.services__container {
  padding-top: 1rem;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}
.services__data {
  background-color: var(--container-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-box-shadow: 0 2px 6px hsla(var(--hue), 100%, 15%, 0.15);
          box-shadow: 0 2px 6px hsla(var(--hue), 100%, 15%, 0.15);
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  text-align: center;
}
.services__img {
  width: 135px;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: var(--mb-0-5);
}
.services__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
.services .section__title {
  text-align: center;
}

/*=============== APP ===============*/
.app__container {
  -ms-grid-columns: 1fr 6rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 6rem;
     -moz-column-gap: 6rem;
          column-gap: 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.app__data {
  text-align: left;
}
.app__description {
  margin-bottom: var(--mb-2);
}
.app i {
  margin-right: 5px;
}
@media (width <= 360px) {
  .app .button:first-of-type {
    margin-bottom: 0.75rem;
  }
}

/*=============== CONTACT ===============*/
.contact__container {
  -ms-grid-columns: 3fr 1.5fr 1.25fr;
  grid-template-columns: 3fr 1.5fr 1.25fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3rem;
}
.contact__info {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
.contact__info li span {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
.contact__button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

/*=============== FOOTER ===============*/
.footer {
  background-color: var(--first-color-lighten);
  padding-bottom: 2rem;
}
.footer__container {
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  row-gap: 2rem;
}
.footer__logo, .footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-75);
}
.footer__logo {
  display: inline-block;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
.footer__description, .footer__link {
  font-size: var(--small-font-size);
}
.footer__links {
  display: -ms-grid;
  display: grid;
  gap: 0.5rem;
}
.footer__link {
  color: var(--title-color);
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
}
.footer__social-link {
  font-size: 1.25rem;
  color: var(--title-color);
}
.footer__copy {
  margin-top: 6rem;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color);
}

/*=============== SCROLL UP ===============*/
.scrollUp {
  position: fixed;
  right: 2rem;
  bottom: -50%;
  color: #fff;
  background-color: var(--first-color);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 6px;
  font-size: 1.25rem;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  z-index: var(--z-tooltip);
  -webkit-transition: bottom 0.4s, -webkit-transform 0.4s;
  transition: bottom 0.4s, -webkit-transform 0.4s;
  transition: bottom 0.4s, transform 0.4s;
  transition: bottom 0.4s, transform 0.4s, -webkit-transform 0.4s;
  border-radius: 4px;
}
@media (width <= 768px) {
  .scrollUp {
    right: 1rem;
  }
}

.scrollUp:hover {
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media (width <= 768px) {
  .section {
    padding: 4.5rem 0 1rem;
  }
  .nav {
    height: var(--header-height);
  }
  .home__description {
    padding: 0;
  }
  .home__container,
  .about__container,
  .security__container,
  .services__container,
  .app__container,
  .contact__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home__data,
  .about__data,
  .security__data,
  .services__data,
  .app__data,
  .contact__data {
    text-align: center;
  }
  .section__title {
    text-align: center;
  }
}
@media (width <= 425px) {
  .footer__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media (width > 425px) and (width <= 768px) {
  .home__img,
  .about__img,
  .security__img,
  .services__img,
  .app__img,
  .contact__img {
    max-width: 300px;
  }
  .footer__container {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
/* For large devices */
@media (width <= 1200px) {
  .container {
    margin-right: var(--mb-1-5);
    margin-left: var(--mb-1-5);
  }
}
/*# sourceMappingURL=styles.css.map */