/*=============== ABOUT ===============*/
.about {
  &__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem;
    align-items: center;
  }
  &__data{
    text-align: left;
  }
  &__description {
    margin-bottom: var(--mb-2);
  }
}
