/*=============== SCROLL UP ===============*/
.scrollUp {
  position: fixed;
  right: 2rem;
  bottom: -50%;
  color: #fff;
  background-color: var(--first-color);
  display: inline-flex;
  padding: 6px;
  font-size: 1.25rem;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  z-index: var(--z-tooltip);
  transition: bottom 0.4s, transform 0.4s;
  border-radius: 4px;
  @media (width <= 768px) {
    & {
      right: 1rem;
    }
  }
}
.scrollUp:hover {
  transform: translateY(-0.25rem);
}
/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}
